@import '@/styles/scss/mixin';
.refer {
  /* width: fit-content;*/
  .referBlock {
    @include display(flex, row, space-between, center, 30px);
    margin: 50px 0;
    .swiper {
      background-color: white;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
