:root {
  // light
  --color-light-000: #fff;
  --color-light-100: #777;
  --color-light-300: #999;
  --color-light-500: #f5f5f5;
  --color-light-700: #e2e6e7;
  --color-light-900: #eee;
  // dark
  --color-dark-100: #264093;
  --color-dark-300: #132664;
  --color-dark-500: #333;
  --color-dark-700: #264093b0;
  --color-dark-900: #000;
}
