@import '@/styles/scss/mixin';

.titleBlock {
  margin-bottom: 50px;
  .title {
    @include text(
      var(--font-weight-light),
      var(--font-size-xxl),
      'Roboto',
      var(--color-light-300),
      150%
    );
    text-align: center;
    padding: 0 0 30px 0;
  }
  .title::after {
    content: '';
    background-color: var(--color-dark-100);
    width: 80px;
    height: 2px;
    display: block;
    margin: 20px auto 0;
  }
  .subTitle {
    @include text(
      var(--font-weight-thin),
      var(--font-size-xl),
      'Roboto',
      var(--color-light-300),
      150%
    );
    text-align: center;
  }
}
