@import '@/styles/scss/mixin';
.homeSection {
  .homeImg {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../access/img/6_6 (1).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(80%);
    background-position: center center;
    .titleBlock {
      @include display(flex, column, center, flex-start, 10px);
      padding: 50px 50px 100px 50px;

      .title {
        @include text(600, 45px, 'Roboto', var(--color-light-100), 137%);
      }
      .subTitle {
        @include text(400, 18px, 'Roboto', var(--color-light-100), 150%);
      }
      h5 {
        @include text(300, 16px, 'Roboto', var(--color-light-100), 150%);
      }

      .btn {
        @include text(400, 16px, 'Roboto', var(--color-light-100), 150%);
        text-decoration: none;
        padding: 10px 50px;
        border: var(--color-dark-100) 2px 2px;
        border-radius: 2px;
        background-color: var(--color-dark-100);
        color: white;
        margin-top: 15px;
      }
      @media screen and (max-width: 1090px) {
        justify-content: start;
      }
    }
    @media screen and (max-width: 1090px) {
      background-image: url('../../../access/img/refer/yellowPare-tinified.jpg');
      padding: 120px 20px 0 20px;
    }
  }
}
