@import '@/styles/scss/mixin';
.sectionContact {
  background-color: var(--color-light-500);
  .contactBlock {
    @include display(flex, row, space-between, center, 60px);
    .contactDate {
      @include display(flex, column, unset, self-start, 10px);
      h3 {
        color: var(--color-dark-100);
      }
      .contacts {
        @include display(flex, column, unset, unset, 15px);
        padding: 0;
        .contact {
          @include display(flex, row, start, center, 20px);
          list-style-type: none;
          a {
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        .text {
          @include text(400, 16px, 'Roboto', var(--color-light-300), 130%);
        }
      }
      span {
        @include text(400, 16px, 'Roboto', var(--color-dark-100), 130%);
      }
      @media screen and (max-width: 1079px) {
        align-items: center;
      }
    }
    @media screen and (max-width: 1079px) {
      flex-wrap: wrap;
      iframe {
        width: 100%;
      }
    }
  }
}
