@import '@/styles/scss/mixin';
.cartService {
  max-width: 420px;
  width: 370px;
  flex-shrink: 1;
  margin-bottom: 50px;
  img {
    width: 350px;
  }
  .titleBlock {
    @include display(flex, row, space-around, flex-start, 15px);
    padding: 15px 25px;
    position: relative;
    z-index: 1;
    width: 80%;
    .icon {
      width: 30px;
      height: 30px;
      z-index: 1;
    }
    .serviceDescrb {
      @include display(flex, column, center, self-start, 15px);
      z-index: 3;
      .title {
        @include text(
          var(--font-weight-medium),
          var(--font-size-l),
          'Roboto',
          var(--color-light-300),
          unset
        );
      }
      .subTitle {
        @include text(
          var(--font-weight-regular),
          var(--font-size-s),
          'Roboto',
          var(--color-light-300),
          unset
        );
      }
    }
    @media screen and (max-width: 1089px) {
      width: unset;
    }
  }
  .titleBlock:after {
    content: '';
    position: absolute;
    top: -40px;
    width: 100%;
    height: 120%;
    background-color: var(--color-dark-300);
    z-index: 1;
    @media screen and (max-width: 1089px) {
      top: -20px;
    }
  }
  img {
    @media screen and (max-width: 1089px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 1089px) {
    width: 100%;
    max-width: unset;
  }
}
