@import '@/styles/scss/mixin';
.cartService {
  //position: relative;
  max-width: 400px;
  width: 350px;
  flex-shrink: 1;
  margin-bottom: 50px;
  .titleBlock {
    @include display(flex, row, space-around, flex-start, 15px);
    padding: 15px 25px;
    position: relative;
    z-index: 3;
    width: 80%;
    .icon {
      width: 30px;
      height: 30px;
      z-index: 3;
    }
    .serviceDescrb {
      @include display(flex, column, center, self-start, 15px);
      z-index: 3;
      .title {
        @include text(
          var(--font-weight-medium),
          var(--font-size-l),
          'Roboto',
          var(--color-light-300),
          unset
        );
      }
      .subTitle {
        @include text(
          var(--font-weight-regular),
          var(--font-size-s),
          'Roboto',
          var(--color-light-300),
          unset
        );
      }
    }
  }
  .titleBlock:after {
    content: '';
    position: absolute;
    top: -40px;
    width: 100%;
    height: 120%;
    background-color: var(--color-dark-300);
    z-index: 1;
  }
}
