@import '@/styles/scss/mixin';
.contacts {
  @include display(flex, row, normal, normal, normal);
  padding: 0;
  margin: 0;
  list-style-type: none;
  .contact {
    @include display(flex, row, normal, center, 10px);
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    i {
      @media screen and (max-width: 1090px) {
        color: var(--color-light-000);
      }
    }
  }
  .text {
    @include text(500, 13px, 'Roboto', var(--color-light-300), unset);
    @media screen and (max-width: 1090px) {
      color: var(--color-light-000);
    }
  }
  .logo {
    @include text(800, 34px, 'Roboto', var(--color-dark-300), unset);
    padding: 25px 0;
  }
}
