@import '@/styles/scss/mixin';
.choice {
  position: relative;
  background-color: var(--color-light-500);
  p {
    margin: 0;
  }
  .choiceBlock {
    @include display(flex, row, space-between, center, 15px);
    flex-wrap: wrap;
    margin: 50px 0 0 0;
    @media screen and (max-width: 1004px) {
      justify-content: center;
    }
  }
}
